@charset "UTF-8";

body {
    background-color: lightgreen;
    font-family: Arial, Helvetica, sans-serif;

}

h1 {
    color: rgb(1, 56, 1);

}
h1#principal {
    text-align: center;
    background-color: green;
    color: white;
}

h2 {
    color: rgb(18, 140, 18);
}

.basico {
    color: rgb(18, 140, 18);

}

.intermediario {
    color: rgb(126, 140, 18);
}

.avancado {
    color: rgb(140, 18, 18);
}

.destaque {
    background-color: yellow;
}